module.exports = {
  authzServiceUrl : "https://login.salesforce.com/services/oauth2/authorize",
  tokenServiceUrl : "https://login.salesforce.com/services/oauth2/token",
  clientId : "oauth2 client id is here",
  clientSecret : "oauth2 client secret is here",
  redirectUri : "http://localhost:4000/oauth2/callback",
  username : "username@example.com",
  password : "your password is here"
};
