{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage"
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-runtime", {
      "corejs": 2
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "useBuiltIns": "usage",
          "targets": { "node": true }
        }]
      ]
    }
  }
}
