{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage"
    }],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-runtime", {
      "corejs": 2
    }]
  ]
}
