{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": 0,
    "class-methods-use-this": 0,
    "no-await-in-loop": 0,
    "no-nested-ternary": 0,
    "no-plusplus": [2, {
      "allowForLoopAfterthoughts": true
    }],
    "no-restricted-syntax": [2, "ForInStatement", "LabeledStatement", "WithStatement"],
    "no-underscore-dangle": 0,
    "import/named": 2,
    "import/prefer-default-export": 0,
    "flowtype/define-flow-type": 1
  }
}
