browser
lib
module

.npmignore
.vscode
.env
.env*


# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Generated docs
docs

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Eclipse configs
.project

# Webstorm configs
.idea/

# MacOS folder atttribute tracking
**/.DS_Store

# tarball generated for publishing
*.tgz
