name: publish

on:
  release:
    # TODO: when this goes to main branch, change it to released
    types: [prereleased]
  # support manual release in case something goes wrong and needs to be repeated or tested
  workflow_dispatch:
    inputs:
      tag:
        description: tag that needs to publish
        type: string
        required: true
jobs:
  npm-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.tag_name || inputs.tag }}
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: npm
          registry-url: https://registry.npmjs.org
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run clean && npm run build
      - name: Publish
        run: npm publish --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  npm-publish-jsforce-node:
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.tag_name || inputs.tag }}
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: npm
          registry-url: https://registry.npmjs.org
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Install dependencies
        run: npm install
      - name: Generate `jsforce-node` pkg
        run: npm run jsforce-node
      - name: Build
        run: npm run clean && npm run build:node:cjs
      - name: Publish
        env:
          NEXT_VERSION: ${{ github.event.release.tag_name || inputs.tag }}
        run: |
          npm publish --tag latest
          # TODO: remove next line after v3 GA
          npm dist-tag add @jsforce/jsforce-node@$NEXT_VERSION next
