name: publish

on:
  release:
    types: [released]
  # support manual release in case something goes wrong and needs to be repeated or tested
  workflow_dispatch:
    inputs:
      tag:
        description: tag to publish (ignored if branch is set)
        type: string
        required: false
      branch:
        description: branch to publish from (for prereleases from unmerged branches)
        type: string
        required: false
      dist-tag:
        description: npm dist-tag to publish under (e.g., latest, next, beta)
        type: string
        required: true
        default: latest
jobs:
  npm-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch || github.event.release.tag_name || inputs.tag }}
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: npm
          registry-url: https://registry.npmjs.org
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run clean && npm run build
      - name: Publish
        run: npm publish --tag ${{ inputs.dist-tag || 'latest' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  npm-publish-jsforce-node:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch || github.event.release.tag_name || inputs.tag }}
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: npm
          registry-url: https://registry.npmjs.org
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Install dependencies
        run: npm install
      - name: Generate `jsforce-node` pkg
        run: npm run jsforce-node
      - name: Build
        run: npm run clean && npm run build:node:cjs
      - name: Publish
        run: |
          npm publish --tag ${{ inputs.dist-tag || 'latest' }}
